// 变量：色彩
$b0: #f0f5ff; $b1: #d6e4ff; $b2: #adc6ff; $b3: #85a5ff; $b4: #597ef7; $b5: #2f54eb; $b6: #1d39c4; $b7: #10239e; $b8: #061178; $b9: #030852;
$g0: #fafafa; $g1: #f5f5f5; $g2: #f0f0f0; $g3: #d9d9d9; $g4: #bfbfbf; $g5: #8c8c8c; $g6: #595959; $g7: #434343; $g8: #262626; $g9: #1f1f1f; $g10: #141414; 
$w: #ffffff; 
$b: #000000;

// mixin
// 字体：12/14/16/20/24/30/38/46/56/68
@mixin font($size:14px, $line:$size+8px, $bold:400) {
  font-size: $size;
  line-height: $line;
  font-weight: $bold;
}

@mixin flex($row: center, $col: center, $wrap: nowrap, $direction: row) {
  display: flex;
  flex-wrap: $wrap;
  align-items: $col;
  justify-content: $row;
  flex-direction: $direction;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* // @import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
